<!DOCTYPE html>
<html>
<head>
    <title>Prediction</title>
    <link href="/css/style.css" rel="stylesheet" type="text/css">


    <!--
        https://medium.com/@noufel.gouirhate/build-a-simple-chat-app-with-node-js-and-socket-io-ea716c093088
        https://www.sitepoint.com/using-redis-node-js/
    --> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
    <script>
        function initSocket(){
            socket = io.connect();
            // alert("connected");
        }
        function sendMessage(total){
            socket.emit("totalWaitingCalls", {totalWaiting: total});
        }

    </script>
    <script>
        function startConv(){
            var tr = document.getElementById('openConversations').insertRow();
            var cStart = tr.insertCell(0);
            var cCity = tr.insertCell(1);
            var cTopic = tr.insertCell(2);
            var cLanguage = tr.insertCell(3);
            var cGender = tr.insertCell(4);
            var cAge = tr.insertCell(5);
            var inputSituation = document.getElementById('situation').value;
            var cSituation = tr.insertCell(6);
            var cEnd = tr.insertCell(7);
            document.getElementById("total2").innerHTML =parseInt(document.getElementById('openConversations').rows.length)-1 ;


   
            const date = Date.now();
            const dateTimeFormat = new Intl.DateTimeFormat('en', {year: 'numeric', month:'short', day:'2-digit', hour:'numeric', minute:'numeric'})
            const [{ value: month }, , { value: day }, , { value: year }, , { value: hour }, , { value: minute }] = dateTimeFormat.formatToParts(date)


            cStart.innerHTML = "<div id = '" + date + "''>" +  `${day}-${month}-${year}, ${hour}:${minute}` + "</div>";
            cCity.innerHTML = "<select><option value='Jerusalem'> ירושלים </option> <option value='Tel Aviv'> תל אביב </option> <option value='Beer Sheva'> באר שבע</option></select>";
            cTopic.innerHTML = "<select><option value='Medication'> תרופות </option> <option value='Food'> מזון </option> <option value='Water'> מים </option> <option value='Protection'> מיגון </option> <option value='Information'> מידע</option> <option value='Evacuation'> פינוי</option></select>";
            cLanguage.innerHTML = "<select><option value='Hebrew'> עברית </option> <option value='English'> אנגלית</option>  <option value='Amharic'> אמהרית </option> <option value='Russian'> רוסית</option> <option value='arabic'> ערבית </option></select>";
            cAge.innerHTML = "<input type='number' min='0' max='120'/>";
            cGender.innerHTML = "<select><option value='Male'> זכר</option> <option value='Female'> נקבה </option></select>";
            cEnd.innerHTML = "<button onclick='reportEndCall(this.parentNode.parentNode)'> get predicit </button>";
            cSituation.innerHTML= "<div>"+ inputSituation+"</div>";
          
        }
        function reportEndCall(row){
           
            var message = {};
            
            message.id = row.cells[0].getElementsByTagName("div")[0].id;
            message.city = row.cells[1].getElementsByTagName("select")[0].value;
            message.topic = row.cells[2].getElementsByTagName("select")[0].value;
            message.language = row.cells[3].getElementsByTagName("select")[0].value;

            message.gender = row.cells[4].getElementsByTagName("select")[0].value;
            message.age = (row.cells[5].getElementsByTagName("input")[0].value || 18);
            message.situation = row.cells[6].innerText;
            message.totalTime = (parseInt(Date.now()) - parseInt(message.id))/1000;

            socket.emit("MsgBigMl",message);

            deleteRow(row);
            getPredict();

        } 

        function deleteRow(row){
            var i = row.rowIndex;
            document.getElementById('openConversations').deleteRow(i)
                        document.getElementById("total2").innerHTML =parseInt(document.getElementById('openConversations').rows.length)-1 ;

        }

          function getPredict() {
            socket.on("predict", (pred) => {
                alert('prediction is :' + pred );
            });
        }
        
       

    </script>
    
</head>
<body  onload="initSocket()">
    <input type="number" id ="total" min="0" max="200" value="5" >
    <input type="button" value="Set" onclick="sendMessage(total.value)"/>
    <select name="status" id="situation"> <option value="Emergency"> חירום</option>
                                          <option value="Routine">שגרת חירום</option>
                                          <option value="Calm">רגיעה</option></select>
    <hr>
    <input type="button" id="answer" value = "create predicit" count="0" onclick="startConv()"  />
    <!-- <button onclick="getTime()">What is the time?</button> -->
    <p id="demo"></p>
    <table id = "openConversations" border="1">
       <thead>
        <tr>
            <th>Start Time </th>
            <th> City </th>
            <th> Topic </th>
            <th> Language </th>
            <th>  Gender </th>
            <th> Age </th>
            <th>Situation </th>
            <th>End</th>
        </tr>
        </thead>
        <tbody></tbody>
    </table> 
    <hr>
        Total Waiting Calls: 
          <p id="total2">0</p>
      

</body>
</html>